body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  display: flex; 
  align-items: center;  
  height:100vh;
  width:100vw;
  flex-direction: column;
 
}
.currency-converter{
  background-color: rgba(255, 208, 147, 0.617);
  box-shadow : 0 3px 5px rgb(0 0 0 / 0.2);  
  text-align: center;   /* --- centres the text in the component --- */
  padding: 10px; 
  margin : 5px; 
}

.container input{
  border: solid 1px grey;
  padding:3px;
  border-radius:5px;
  cursor: pointer;
  outline:none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.container input:hover{
 border: solid 2px blue;
}

.container select{
  border: solid 1px grey;
  padding:3px;
  border-radius:5px;
  cursor: pointer;
  outline:none;
}


.newsfeed

{
  background-color: rgba(172, 147, 255, 0.233);
  padding: 10px;         /* ------ space from info and text to corners of the box ---- */
  margin : 5px;           /* ----- creates space around the element ----- */
  box-shadow : 0 3px 5px rgb(0 0 0 / 0.2);  
  /* creates a shadow around the box */
  max-width: 300px;        
  /*------ makes it smaller in size (only comes to maximum 300) ----- */
}


.rate
{ 
  background-color: rgba(14, 255, 14, 0.35);
  padding: 30px;
  margin-top: 10px;
  box-shadow : 0 3px 5px rgb(0 0 0 / 0.3);
  border-radius: 10px;
}

.container
{
  background-color: red;/*rgba(234, 163, 100, 0.717);*/
  border-radius: 5px;
  margin-top: 10px;
  padding: 30px;
  box-shadow : 0 3px 5px rgb(0 0 0 / 0.2);
}

button  {
  border: none; 
  float: right;
  /* centre button to the right */
  margin: 5px;
}

button:hover{
  background-color:  rgba(104, 193, 160, 0.555)
}
/* only one button here so we can just call button */


.box{
  display: flex;
}