body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  height:100vh;
  width:100vw;
}
.currency-converter{
  background: linear-gradient(to top, rgba(18, 44, 210, 0.898) 15% ,rgb(23, 23, 78) 85%); /* rgb(38, 38, 132)*/
  background-image: url('./assets/pic2.webp');

  background-size:cover;
  background-position: left 65%;
  width:100%;
  min-height: 100vh;
  overflow-y: hidden !important; /* CHANGED FROM SCROLL*/

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  display:flex;
  flex-direction: column;
  position:relative;
}

/* Dark overlay */
.currency-converter::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* adjust opacity for darkness */
  z-index: -1; /* behind content */
}

.currency-converter::after { /* adds the white curved bottom shape */
  content: '';
  clip-path: ellipse(75% 90% at 50% 100%); /*  smooth curve */
  position: absolute;
  z-index: -1;/* push it behind the content */
  left: 0%;            /* in the center */
  width: 100vw;          /* full viewport width */
  height: 50vh;         /* taller for better curve */
  background-color: white;
  bottom: 0;  
}

nav{
  width:20%;
  margin-right:70%;
  height:8vh;
  margin-top:4%;
  background-color: rgba(39, 39, 120, 0.737);
  background-color: rgba(70, 70, 172, 0.814);
  display: flex;
  align-items: center;
  gap:30px;
  z-index: 2001;
}

nav li{
  margin-left:50px;
  list-style: none;
  color: white;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  padding:12px;
  padding-inline: 20px;
  
}

nav li:hover{
  background: rgba(38, 38, 109, 0.6);
  border-radius: 8px;
}

.newsfeed{
  padding: 10px; 
  height: 40vh; 
  width:90%;
  background-color:rgb(255, 248, 249);
  border-radius: 20px;
  z-index: 3000;
  position: absolute;
  margin-top:8.2%;
  overflow-y: scroll;
  transition: ease-in-out 0.3s;
 
}

.newslinks{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 3%;
  margin-inline:2%;
  cursor: pointer;
 
}

.newslinks img{
  background-size: contain;
  height: 35%;
  width: 40%;
  align-self: center;
}

.news-image:hover {
  filter: brightness(70%);  /* darkens the image */
}

.news-article{
 display: flex;
  flex-direction: row;
  gap: 12px;
  border-bottom: 1.5px solid #8e939e;
  padding-bottom: 12px;
}


.news-content .news-title{
  margin: 2px 0;
  text-decoration:none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 9.5%;
}


.news-content .news-description:hover{
  text-decoration: underline;
}


.heading{
  text-shadow: 1px 1px 2px rgb(28, 28, 92);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  margin-top:6%;
  margin-bottom:.8%;
}

.title{
  margin-bottom:40px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.currency-A{
  height: 15vh;
  width:48%;
  border-radius: 22px;
  padding: 40px; 
  background-color:white;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.holder_container{
  display:grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
  gap:22px;
  height:6vh;
  width: 100%;
  margin-bottom:10px;
}

.holder {
  background-color: white;
  display: flex;
  border: solid 1.9px rgb(214, 214, 214);
  border-radius:13px;
  height:100%;
  overflow: hidden; 
  transition: ease-in-out 0.08s; 
  padding-inline:20px;
}

.holder:hover{
  border: solid 2px rgb(38, 38, 190);
}

.holder input{
  border: none;
  outline: none;
  width: 90%;
  font-size:20px;
}
.holder select{
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 20px;
}

.holder option{
  width:20vw;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.holder select{
  padding:1px;
  border-radius:5px;
  outline:none;
}

.exchange{
  display:flex;
  justify-content: space-between;
}

.rate
{ 
  margin-top: 35px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 500;
  color: rgb(52, 50, 74);;
}

button  {
  border: none; 
  border-radius: 12px;
  padding-inline:10px;
  width:9vw;
  height:4vh;
  margin-top:30px;
  cursor: pointer;
  background-color: rgb(26, 2, 160);
  color:white;
   font-size: 20px;
   font-weight: 500;
}

button:hover{
  background-color: rgba(104, 193, 160, 0.555)
}
/* only one button here so we can just call button */
.bluebox{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  height:15vh;
  width:52%;
  border-radius:30px;
  background:linear-gradient( rgba(5, 11, 52, 0.898) 5%, rgba(18, 44, 210, 0.898)) ;
  background-color: #08183c; /* Dark blue to bright blue */
  color:white;
  font-size: 32px;  
  font-weight: 700;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
